### Project Overview
Finance & Operations gave us a fairly high level task of building a dashboard to help them stay on top of how the business is performing in Q3'17. After some back and forth we aligned on two asks to incorporate into our dashboard, an overview with how the financials are trending and some insights on which categories and items are driving the business.

For this project I will be utilizing a dataset from the Department of Commerce which includes transactional data from liquor stores in Iowa over a 5 year span from 2012-2017. In this notebook I will load in the data, clean, and explore the data in python before exporting and loading it into multiple tables so that I can write some custom SQL queries and build a dashboard to visualize and track various metrics related to Iowa Liquor Sales.

#### Data Collection

In [1]:
#import libraries
import pandas as pd

In [2]:
#load raw data from excel
data = pd.read_csv('./data/Iowa_Liquor_Sales.csv')

C:\Users\dylan\AppData\Local\Temp\ipykernel_10040\3838920384.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('./data/Iowa_Liquor_Sales.csv')

In [3]:
#Overview of the data and data types
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12591077 entries, 0 to 12591076
Data columns (total 24 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Invoice/Item Number    object
 1   Date                   object
 2   Store Number           int64
 3   Store Name             object
 4   Address                object
 5   City                   object
 6   Zip Code               object
 7   Store Location         object
 8   County Number          float64
 9   County                 object
 10  Category               float64
 11  Category Name          object
 12  Vendor Number          float64
 13  Vendor Name            object
 14  Item Number            int64
 15  Item Description       object
 16  Pack                   int64
 17  Bottle Volume (ml)     int64
 18  State Bottle Cost      object
 19  State Bottle Retail    object
 20  Bottles Sold           int64
 21  Sale (Dollars)         object
 22  Volume Sold (Liters)   float64
 23  Volume Sold (Gallons)  float64
dtypes: float64(5), int64(5), object(14)
memory usage: 2.3+ GB

In [178]:
#convert date to datetime
data['Date'] = pd.to_datetime(data['Date'])

#filter down on Q3'17
df = data[(data['Date'].dt.year == 2017) & ((data['Date'].dt.month == 7) |(data['Date'].dt.month == 8) | (data['Date'].dt.month == 9))]

#Visualize the data
df.head()[['Bottles Sold', 'Item Number', 'Item Description', 'State Bottle Cost', 'State Bottle Retail', 'Sale (Dollars)']]

,Bottles Sold,Item Number,Item Description,State Bottle Cost,State Bottle Retail,Sale (Dollars)
11802900,1,73054,Rumchata,$24.34,$36.51,$219.06
11817652,3,82627,Dekuyper Cherry Pucker,$7.87,$11.81,$141.72
11817653,5,21596,Ten High,$4.10,$6.15,$73.80
11817654,2,31719,Phillips Gin,$4.38,$6.57,$78.84
11817655,2,34972,Three Olives Cherry Vodka,$9.96,$14.94,$179.28

#### Data Cleaning

Cleaning Steps 
1. Check for Duplicates
2. Handle Null Values (Drop or Impute)
3. Convert to appropriate Data Types
4. Validations (Outliers, Categories, Equations)

In [179]:
#Check for duplicates -- No Duplicate Invoices
print(f"{df['Invoice/Item Number'].nunique()}, {len(df)}")

572281, 572281

In [180]:
#Removing the dollar sign so I can update strings to numeric datatypes
df['Sale (Dollars)'] = df['Sale (Dollars)'].str.replace('$', '', regex = True)
df['State Bottle Cost'] = df['State Bottle Cost'].str.replace('$', '', regex = True)
df['State Bottle Retail'] = df['State Bottle Retail'].str.replace('$', '', regex = True)

C:\Users\dylan\AppData\Local\Temp\ipykernel_10040\1127832494.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Sale (Dollars)'] = df['Sale (Dollars)'].str.replace('$', '', regex = True)
C:\Users\dylan\AppData\Local\Temp\ipykernel_10040\1127832494.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['State Bottle Cost'] = df['State Bottle Cost'].str.replace('$', '', regex = True)
C:\Users\dylan\AppData\Local\Temp\ipykernel_10040\1127832494.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['State Bottle Retail'] = df['State Bottle Retail'].str.replace('$', '', regex = True)

In [181]:
#Update the datatypes
dtype_dic = {'Store Number': 'string', 'County Number':'string', 'Vendor Number':'string', 
             'Category': 'string', 'Item Number': 'string', 'State Bottle Cost':'float64',
            'State Bottle Retail':'float64', 'Sale (Dollars)': 'float64', 'Category Name': 'string'} 
df = df.astype(dtype_dic)

#Check for Null Values
df.isna().sum()

Invoice/Item Number        0
Date                       0
Store Number               0
Store Name                 0
Address                  301
City                     301
Zip Code                 301
Store Location           301
County Number            301
County                   301
Category                 962
Category Name            962
Vendor Number              0
Vendor Name                0
Item Number                0
Item Description           0
Pack                       0
Bottle Volume (ml)         0
State Bottle Cost          0
State Bottle Retail        0
Bottles Sold               0
Sale (Dollars)             0
Volume Sold (Liters)       0
Volume Sold (Gallons)      0
dtype: int64

##### Category Cleaning
To handle null values we have a few options. We can impute the null value as our best guess which may either be 0, some type of average (mean, median, mode), we could use linear regression, or we could use related entries. Lastly, a less preferred method would be to drop the entire row for each null value, this is typically a last resort option if we feel like we cannot make a best guess and the analysis does not require all data points to be captured. 

To handle null categories I can impute the value using the category from non null invoices of the same item. Further, in investigating the null categories I identified some flaws in category assignment. There are significant redundancies in different categories and there is also an opportunity to group categories into parent categories. Example 'American Vodka', 'American Vodkas', 'American Flavored Vodka' these can all be aggregated into one category. I will consolidate redundant categories and group categories into parent categories based on the types of alcohol (Whisky, Vodka, Tequila, etc).

In [182]:
distinct_category_item = df.groupby('Item Number')[['Category', 'Category Name']].nunique().sort_values(by = 'Category', ascending = False)
distinct_category_item[distinct_category_item['Category'] > 1]

             Category  Category Name
Item Number
88152               2              2

In [184]:
#Consolidate Redundant Categories

#dictionary of old and new values 
name_dict = {'American Vodkas' : 'American Vodka', 'American Flavored Vodka' : 'American Vodka', 
             'Imported Vodkas': 'Imported Vodka', 'American Cordials & Liqueurs' : 'American Cordials & Liqueur', 
             'Cocktails /RTD': 'Cocktails / RTD', 'American Distilled Spirits Specialty': 'American Distilled Spirit Specialty',
            'Iowa Distillery Whiskies' : 'Iowa Distilleries', 'Temporary &  Specialty Packages':'Temporary & Specialty Packages', 
             'Imported Flavored Vodka' : 'Imported Vodka', 'Imported Distilled Spirits Specialty':'Imported Distilled Spirit Specialty',
            'Imported Cordials & Liqueur' : 'Imported Cordials & Liqueurs', 'Neutral Grain Spirits Flavored':'Neutral Grain Spirits'}

number_dict = {'1031100.0' : '1031000.0', '1031200.0': '1031000.0', '1032100.0': '1032000.0',
              '1070000.0' : '1071100.0', '1081000.0' : '1081300.0', '1091000.0': '1091100.0', 
              '1011800.0' : '1091400.0', '1700000.0' : '1701100.0', '1032200.0' : '1032000.0',
              '1092000.0' : '1092100.0', '1082100.0': '1082000.0', '1091300.0' :'1091200.0'}

#replacing values using dictionaries
df['Category'] = df['Category'].replace(number_dict)
df['Category Name'] = df['Category Name'].replace(name_dict)

#Grouping Items into Parent Categories

#define the parent categories for each sub category
parent_cats = {'Straight Bourbon Whiskies': 'Whisky','Scotch Whiskies':'Whisky', 'Blended Whiskies':'Whisky', 'Canadian Whiskies':'Whisky','Irish Whiskies':'Whisky', 'Tennessee Whiskies':'Whisky',  
         'Single Malt Scotch':'Whisky', 'Single Barrel Bourbon Whiskies':'Whisky', 'Straight Rye Whiskies':'Whisky', 'Corn Whiskies':'Whisky', 'Bottled in Bond Bourbon':'Whisky', 
          'Imported Vodka':'Vodka', 'American Vodka': 'Vodka', 'American Dry Gins':'Gin', 'Imported Dry Gins':'Gin', 'American Sloe Gins':'Gin', 'Flavored Gin':'Gin',
         'Flavored Rum': 'Rum','Spiced Rum':'Rum', 'White Rum':'Rum', 'Gold Rum':'Rum', 'Aged Dark Rum':'Rum', '100% Agave Tequila':'Tequila', 'Mixto Tequila':'Tequila', 'Mezcal':'Tequila',
          'Imported Brandies':'Brandy', 'American Brandies':'Brandy', 'Cream Liqueurs':'Liquer', 'Imported Cordials & Liqueurs':'Liquer', 'Whiskey Liqueur':'Liquer', 'American Cordials & Liqueur':'Liquer', 
          'Coffee Liqueurs':'Liquer', 'American Schnapps':'Other','Temporary & Specialty Packages':'Other', 'Imported Schnapps':'Other', 'Cocktails / RTD':'Other', 'Neutral Grain Spirits':'Other', 
          'Triple Sec':'Other', 'American Distilled Spirit Specialty':'Other','Iowa Distilleries':'Other', 'Special Order Items':'Other','Imported Distilled Spirit Specialty':'Other', 'Delisted Items':'Other'}

#create a new parent category feature and assign parent from dictionary
df['Parent Category'] = [parent_cats.get(cat) for cat in df['Category Name']]

In [185]:
#Impute null categories based on Item Number

#filter on items with non null categories
non_null_cat = df[df['Category'].isna() == False]
non_null_cat_name = df[df['Category Name'].isna() == False]

#create a dictionary mapping the item and category
item_cat_dict = non_null_cat.set_index('Item Number')['Category'].to_dict()

#create a dictionairy mapping the item and the category name
item_catname_dict = non_null_cat_name.set_index('Item Number')['Category Name'].to_dict()

#creating lists of the category number and names using the item dictionaries created above 
category_num = []
for x in df['Item Number']:
    category_num.append(item_cat_dict.get(x))

category_name = []
for x in df['Item Number']:
    category_name.append(item_catname_dict.get(x))

#updating the category number and name using lists from the search above
df['Category'] = category_num
df['Category Name'] = category_name

In [186]:
#Impute null location features based on store numbers

#filter on stores with non null location data
non_null_store = df[df['Address'].isna() == False]

#create a dictionary mapping the store and location features
store_add = non_null_store.set_index('Store Number')[['Address', 'County', 'County Number', 'Zip Code', 'Store Location', 'City']].to_dict()

#creating lists of the category number and names using the item dictionaries created above 
address = []
for store in df['Store Number']:
    address.append(list(store_add.items())[0][1].get(store))

county = []
for store in df['Store Number']:
    county.append(list(store_add.items())[1][1].get(store))
    
County_num = []
for store in df['Store Number']:
    County_num.append(list(store_add.items())[2][1].get(store))
    
Zip = []
for store in df['Store Number']:
    Zip.append(list(store_add.items())[3][1].get(store))
    
location = []
for store in df['Store Number']:
    location.append(list(store_add.items())[4][1].get(store))
    
city = []
for store in df['Store Number']:
    city.append(list(store_add.items())[5][1].get(store))
    

#updating the location features based on non null store values
df['Address'] = address  
df['County'] = county
df['County Number'] = County_num
df['Zip Code'] = Zip
df['Store Location'] = location
df['City'] = city

In [187]:
#Using Item Descriptions for Category Keywords to Impute null Category
parent_dict = {}
for x in df[df['Category'].isna() == True]['Item Description'].unique():
    if 'Vodka' in x.split():
        parent_dict[x] = 'Vodka'
    elif 'Whisky' in x.split():
        parent_dict[x] = 'Whisky'
    elif 'Rye' in x.split():
        parent_dict[x] = 'Whisky'
    elif 'Malt' in x.split():
        parent_dict[x] = 'Whisky'
    elif 'Bourbon' in x.split():
        parent_dict[x] = 'Whisky'
    elif 'Whiskey' in x.split():
        parent_dict[x] = 'Whisky'
    elif 'Liqueur' in x.split():
        parent_dict[x] = 'Liquer'
    elif 'Rum' in x.split():
        parent_dict[x] = 'Rum'
    elif 'Brandy' in x.split():
        parent_dict[x] = 'Brandy'
    elif 'Tequila' in x.split():
        parent_dict[x] = 'Tequila'
    elif 'Mezcal' in x.split():
        parent_dict[x] = 'Tequila'
    elif 'Agave' in x.split():
        parent_dict[x] = 'Tequila'
    elif 'Gin' in x.split():
        parent_dict[x] = 'Gin'
    else:
        parent_dict[x] = 'Other'

additional_nulls = ['99 Grapes', '99 Oranges Mini', "Tim Smith's Climax Fire #32", 'Yellowstone Select', '99 Oranges']
for item in additional_nulls:
    parent_dict[item] = 'Other'

parent_dict

{'Figenza Mediterranean Fig Vodka': 'Vodka',
 'Hawkeye Bacon Vodka': 'Vodka',
 "Ole Smoky White Lightnin' Moonshine": 'Other',
 'Revel Stoke Spiced': 'Other',
 "Maker's Mark Co-Pack": 'Other',
 'Cedar Ridge Reserve Bourbon': 'Whisky',
 'Pride of the Wapsi': 'Other',
 'Big Peach Liqueur': 'Liquer',
 'Barbados Rum 200 ml': 'Rum',
 'Barbados Rum 1 Liter': 'Rum',
 'Grapefruit Liqueur': 'Liquer',
 'Spanish Single Malt 200ml': 'Whisky',
 'Spanish Single Malt 1 Liter': 'Whisky',
 'Old Forester 1920': 'Other',
 'Cedar Ridge American Whiskey Explorer Pack': 'Whisky',
 'Jose Cuervo Especial Silver/Flask': 'Other',
 'Jose Cuervo Especial Gold /Flask': 'Other',
 'Haymans Old Tom Gin': 'Gin',
 'Three Olives Vanilla': 'Other',
 'Ron Abuelo Anejo 7YR': 'Other',
 "Sammy's Beach Bar Rum": 'Rum',
 'Hiram Walker Coffee Brandy': 'Brandy',
 'Kavalan Concertmaster': 'Other',
 'Ketel One Oranje': 'Other',
 'Aalborg Jubilaeums Aquavit': 'Other',
 'Kauai Coconut Hawaiian Rum': 'Rum',
 'Hennessy VS Flask': 'Other',
 "Aberlour A''bunadh": 'Other',
 'Dekuyper Cranberry Crush': 'Other',
 'El Mayor Extra Anejo 100% Agave': 'Tequila',
 'Cruzan Key Lime': 'Other',
 '99 Watermelon Mini': 'Other',
 'Calico Jack Pineapple': 'Other',
 'Spanish Single Malt 375ml': 'Whisky',
 'Great Glen 8 yr': 'Other',
 'Irish Single Malt 14yr-Brother in Arms': 'Whisky',
 'Two Casks- Caol IIa & Speyburn Sherry': 'Other',
 'Red Stag Black Cherry Mini': 'Other',
 'New Amsterdam Peach': 'Other',
 'Deep Eddy  Lemon Vodka': 'Vodka',
 'Bastille 1789': 'Other',
 'Diplomatico Reserva Exclusiva': 'Other',
 "Fulton's Harvest Pumpkin Liqueur": 'Liquer',
 'Ansac VS  Cognac': 'Other',
 'Midnight Moon Raspberry': 'Other',
 'Eagle Rare Single Barrel Buy the Barrel': 'Other',
 'Evan Williams Kentucky Cider': 'Other',
 'Koval Oat': 'Other',
 'Burnetts Cherry Limeade': 'Other',
 'Burnetts Appleberry': 'Other',
 'Barbados Rum 375ml': 'Rum',
 'Spanish Single Malt 100ml': 'Whisky',
 'Avion Espresso': 'Other',
 'Fireball Bag in Box': 'Other',
 'Captain Morgan Jack-O Blast Mini': 'Other',
 'Captain Morgan Jack-O Blast': 'Other',
 'Benromach 10YR': 'Other',
 'Baileys Pumpkin Spice Irish Cream': 'Other',
 'Baileys Pumpkin Spice Irish Cream Mini': 'Other',
 'Rondiaz Rum Spiced Black Cherry Mini': 'Rum',
 "Fulton's Harvest Apple Pie Liqueur": 'Liquer',
 'Clix Vodka': 'Vodka',
 'Black Saddle Bourbon': 'Whisky',
 'Pinnacle Chocolate Whipped': 'Other',
 'Ezra Brooks Bourbon Cream Mini': 'Whisky',
 'Skyy Infusions Blood Orange': 'Other',
 'Glenmorangie Original w/ Quinta Ruban & Lasanta': 'Other',
 'Black Currant Liqueur Creme de Cassis': 'Liquer',
 'Smirnoff Peppermint Twist': 'Other',
 'Bains Cape Mountain Whiskey': 'Whisky',
 'Smirnoff Peppermint Twist Mini': 'Other',
 'Don Amado Mezcal Rustico': 'Tequila',
 "Michter's US*1 SB Rye": 'Whisky',
 'Stolichnaya Hot': 'Other',
 'Ri(1) Whiskey': 'Whisky',
 'Blue Chair Bay Banana Rum Cream': 'Rum',
 '99 Grapes': 'Other',
 '99 Oranges Mini': 'Other',
 "Tim Smith's Climax Fire #32": 'Other',
 'Yellowstone Select': 'Other',
 '99 Oranges': 'Other'}

In [188]:
#Using the dictionary above to update the categories for null values
for item in df['Item Description']:
    for desc, cat in parent_dict.items():
        if item == desc:
            df.loc[df['Item Description'] == desc, 'Parent Category'] = cat

In [191]:
#Since I have imputed a parent category I will simply fill na's for the subcategories
df['Category'].fillna('Use Parent Category', inplace = True)
df['Category Name'].fillna('Use Parent Category', inplace = True)

df.isna().sum()

Invoice/Item Number      0
Date                     0
Store Number             0
Store Name               0
Address                  0
City                     0
Zip Code                 0
Store Location           0
County Number            0
County                   0
Category                 0
Category Name            0
Vendor Number            0
Vendor Name              0
Item Number              0
Item Description         0
Pack                     0
Bottle Volume (ml)       0
State Bottle Cost        0
State Bottle Retail      0
Bottles Sold             0
Sale (Dollars)           0
Volume Sold (Liters)     0
Volume Sold (Gallons)    0
Parent Category          0
dtype: int64

In [194]:
#dropping the last two digits to clean the formating
df['Vendor Number'] = [num[:-2] for num in df['Vendor Number']]
df['County Number'] = [num[:-2] for num in df['County Number']]
df['Category'] = [num[:-2] for num in df['Category']]

In [195]:
#Creating the tables
items = df.set_index('Item Number')[['Item Description', 'Category', 'Category Name', 'Parent Category',
                                        'Pack', 'Bottle Volume (ml)', 'State Bottle Cost', 
                                         'State Bottle Retail']].drop_duplicates()
items.reset_index(inplace = True)

stores = df.set_index('Store Number')[['Store Name', 'County', 'County Number', 'City', 'Zip Code']].drop_duplicates()
stores.reset_index(inplace = True)

vendors = df.set_index('Vendor Number')[['Vendor Name']].drop_duplicates()
vendors.reset_index(inplace = True)

orders = df[['Invoice/Item Number', 'Date', 'Store Number', 'Item Number', 'Vendor Number', 
            'Bottles Sold','State Bottle Cost', 'State Bottle Retail', 'Sale (Dollars)', 
             'Volume Sold (Liters)', 'Volume Sold (Gallons)']]

#save to csv so I can export into BigQuery for SQL Exploration/Dashboarding
#items.to_csv('items.csv')
#stores.to_csv('stores.csv')
# vendors.to_csv('vendors.csv')
# orders.to_csv('orders.csv')

### Data Inconsistencies
In reviewing the data descriptions from kaggle I would assume that Sale (Dollars) should equal the product of bottles sold and state bottle retail however as seen below I ran a quick formula to validate this and it is in fact not the case. The majority of invoices were calculated as the product of the 'Pack' and 'State Bottle Retail', however there are 3060 invoices that were not calculated according to this logic. In the real world I would I dive deeper into how this data is being recorded to determine whether there are discounts being applied in store that are not being captured in the retail price or if these are due to data entry errors.

In [196]:
#Validating if Sales Feature is a product of bottles sold and retail price
#It appears this Sales is not a product of bottles sold and bottle retail
print(f'Total Invoices: {len(df)}') 
print(f"Invoices w/Sales = Retail*Bottles Sold: {len(df[abs(df['Sale (Dollars)'] - (df['Bottles Sold'] * df['State Bottle Retail']) < 1)])}")

Total Invoices: 572281
Invoices w/Sales = Retail*Bottles Sold: 278182

In [197]:
#Validating if Sales Feature is a product of packs sold and retail price
print(f'Total Invoices: {len(df)}')
print(f"Invoices w/Sales = Retail*Pack Sold {len(df[abs(df['Sale (Dollars)'] - (df['Pack'] * df['State Bottle Retail']) < 1)])}")

Total Invoices: 572281
Invoices w/Sales = Retail*Pack Sold 569219

In [198]:
#Measuring variance between invoices sale amount and retail*pack

#filter for invoices where sale amount doesn't equal retail*pack
diff = df[((df['Sale (Dollars)'] - (df['Pack'] * df['State Bottle Retail']))>1)]

#get the difference as a percentage of the sale amount
diff = (diff['Sale (Dollars)'] - (diff['Pack'] * diff['State Bottle Retail'])) / diff['Sale (Dollars)']

print(f"Avg %Difference: {diff.mean()}")
print(f"Max %Difference: {diff.max()}")

Avg %Difference: 0.05975857810655412
Max %Difference: 0.2013333333333334